header {
	/* margin: 0 350px; */
}

section {
	margin-bottom: 20px;
}

.head {
	margin: 0 auto;
	max-width: 700px;
	margin-bottom: 20px;
}

nav {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	margin-bottom: 20px;
}

.logo {
	margin: 10px 0 0 0;
}

.logo a {
	text-decoration: none;
	font-size: 25px;
	color: black;
	font-weight: 800;
}

.menu ul {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 15px;
	list-style-type: none;
	margin: 20px 0 0 0;
}

.menu ul a {
	text-decoration: none;
	color: black;
	font-weight: 800;
	font-size: 16px;
}

.nav__dropdown {
	display: inline-block;
	position: relative;
}

.nav__dropdown>ul {
	position: absolute;
	list-style: none;
	margin-top: 0;
	padding-left: 0;
	display: none;
}

.nav__dropdown>ul>li {
	background-color: rgb(209, 209, 209);
	border: 2px solid;
	border-top: 1px;
	border-color: rgb(223, 223, 223);
}

.nav__dropdown>ul>li>a {
	font-size: 11px;
}

.nav__dropdown:hover>ul {
	display: block;
}

main {
	margin: 0 0px;
}

.home {
	min-width: 370px;
}

.home__img {
	background-image: url("../image/swed.jpg");
	height: 500px;
	background-size: 100% 100%;
	margin-bottom: 20px;
}

.home__title {
	text-align: right;
	margin-bottom: 10px;
	font-weight: 800;
}

.home__info {
	text-align: right;
	font-size: 13px;
	font-weight: 800;
}

.sec__title {
	font-size: 23px;
	font-weight: 800;
	color: rgb(49, 49, 49);
	margin-bottom: 20px;
	margin: 0 39px;
}

.article__box {
	margin: 0 39px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 20px;
}

.article__title {
	font-size: 19px;
	font-weight: 800;
	color: rgb(49, 49, 49);
	margin-bottom: 15px;
}

.article__content {
	font-size: 13px;
	color: rgb(49, 49, 49);
	margin-bottom: 15px;
}

.article__anchor {
	font-size: 10px;
	color: rgb(49, 49, 49);
	margin-bottom: 15px;
}

.article__anchor a {
	color: rgb(49, 49, 49);
}

.article__anchor :hover {
	text-decoration: none;
}

.article__date {
	font-size: 11px;
	color: rgb(129, 129, 129);
}

/* 여기서부터 joinForm만 적용 css*/
.join__box {
    width: 250px;
    display: block;
    background-color: rgb(220, 198, 230);
    padding: 20px 30px;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgb(214, 214, 214);
}

.join__title{
    text-align: center;
    font-weight: 800;
    color: rgb(46, 45, 45);
    margin-top: 80px;
    margin-bottom: 20px;
}

table{
    width: 100%;
}

.join__sub__title {
    margin-bottom: 3px;
    font-size: 12px;
    font-weight: 600;
}

.join__input {
    height: 28px;
    width: 100%;
    color: rgb(100, 98, 98);
    font-size: 10px;
    border: 1px solid rgb(206, 205, 205);
    margin-bottom: 10px;
}

.join__button {
    display: block;
    margin: 20px auto 20px;
}

button {
    background-color: #8a3ca8;
    color: white;
    width: 100%;
    height: 28px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
}

button:hover {
    background-color: #721c94;
}

/* 여기까지 joinForm*/


/* 여기부터 saveForm */

.note-btn-group {/*썸머노트에 있는 클래스*/
    position: relative;
    display: inline-flex !important;
}

.container {
	margin: 40px auto;
    max-width: 700px;
}

.container > form > div{
	margin-bottom: 20px;
	
}

.container > form > div > div{
	display: flex;
	margin-bottom: 5px;
}

.write__input{
	height: 30px;
	width: 700px;
}

.btn-write{
	display: block;
	width: 15%;
	margin: 20px auto;
	height: 40px;
}

/*여기까지 saveForm*/

/*여기부터 shelf*/

.sec__shelf {
    background-image: url("../image/bookshelf.png");
    height: 500px;
    width: 30%;
    margin: 10px auto 0 auto;
    background-size: 100% 100%;
}

.shelf__boxes {
    padding-top: 47px;
}

.shelf__box {
    margin: 3px auto 0 auto;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 5px;
    border-style: solid;
    border-radius: 3px;
    border-color: rgb(160, 160, 160);
    border-right: 0;
    border-left: 0;
}

.shelf__title {
    font-size: 19px;
    font-weight: 800;
    color: rgb(49, 49, 49);
}

.shelf__content {
    font-size: 13px;
    color: rgb(49, 49, 49);
    
    max-height: 40px; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.shelf__anchor {
    font-size: 10px;
    color: rgb(49, 49, 49);
}

.shelf__anchor a{
    color: rgb(49, 49, 49);
}

.shelf__anchor :hover{
    text-decoration: none;
}

.shelf__date {
    font-size: 11px;
    color: rgb(129, 129, 129);
    
}

.prevnext {
	display: grid;
	grid-template-columns: 1fr;
}

#prevnext {
	display: flex;
	list-style-type: none;
	gap: 10px;
	padding-left: 0;
	margin: 0px auto 0 auto;
}





/* 여기까지 shelf css */

footer {
	text-align: center;
	font-size: small;
	margin-top: 100px;
	margin-bottom: 50px;
}